.mainBox {
  margin: auto;
  margin-top: 125px;
  margin-bottom: 50px;
  height: 400px;
  width: 900px;
  background-color: white;
  box-shadow: 3px 3px 10px 3px #111;
}

#aboutHeading {
  text-align: center;
  font-size: 45px;
}

.aboutMsg {
  font-size: large;
  text-align: left;
  margin-left: 12px;
  margin-right: 12px;
}
