.mainAboutBox {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 450px;
  width: 900px;
  background-color: white;
  box-shadow: 3px 3px 10px 3px #111;
}

.aboutHeading {
  text-align: center;
  font-size: 45px;
}
