.registerBox {
  margin: 100px auto;
  height: 415px;
  width: 700px;
  background-color: white;
  box-shadow: 3px 3px 10px 3px #111;
}

#registerMsg {
  text-align: center;
}

#registerSubmsg {
  font-size: 17px;
  margin-top: -15px;
}

#email {
  margin-bottom: 8px;
}